Source: qmic
Section: utils
Priority: optional
Maintainer: Nicolas Dechesne <nicolas.dechesne@linaro.org>
Build-Depends: cdbs, debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://github.com/andersson/qmic.git
Vcs-Git: git://github.com/debian-pm/qmic-packaging.git
Vcs-Browser: https://github.com/debian-pm/qmic-packaging

Package: qmic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QMI Compiler
 QMI compiler.
